/* _mixins.scss */
/* _typography.scss */
/* variables.scss */
/* links.scss */
.list { width: 350px; flex: 1 250px; margin: 5px 8px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); }

.list h1 { position: relative; background: #af0000; color: #eee; margin: 0; padding: 10px 20px; font-size: 18px; font-weight: 400; }

.webmaster h1 { background: #FF6138; }

.social h1 { background: #1da1f2; }

.webtools h1 { background: #ff9800; }

.dev h1 { background: #225378; }

.resources h1 { background: #225378; }

.services h1 { background: #1a1967; }

.github h1 { background: #009926; }

.list ul { list-style: none; margin: 0; padding: 0; }

.list ul li { background: #444; height: 40px; color: #eee; line-height: 40px; transition: background ease-in-out 0.1s; }

.list ul li:hover, .list ul li:nth-child(2n):hover { background: #2d2d2d; }

.list ul li a { color: #fff; text-decoration: none; padding-left: 15px; display: block; }

.list ul li a:hover { text-decoration: none; color: #fff; }

.list ul li:nth-child(2n) { background: #333; }

@media all and (max-width: 768px) { .list { max-width: 95vw; }
  .list ul { transition: 800ms max-height ease-out; overflow: hidden; max-height: 0px; transition-delay: 0.5s; }
  .list:hover > ul, .list:hover ul li { max-height: 800px; display: block; }
  .list ul li { display: none; }
  .list { margin: 0px 5px; } }

/*  golbal.scss */
html { position: relative; min-height: 100%; }

body { margin-bottom: 60px; background: #5d5d5d; }

.logo { margin: 10px auto 10px; height: 50px; transition: opacity ease-in-out 0.5s; opacity: 0.9; float: left; }

@media (max-width: 991px) { .logo { max-width: 100%; height: 40px; display: flex; } }

.search-box { width: 500px; }

@media all and (max-width: 991px) { .search-box { width: 75vh; } }

@media all and (max-width: 388px) { .search-box { width: 100%; } }

.form-control:focus { border-color: #ccc; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(5, 2, 64, 0.6); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(5, 2, 64, 0.6); }

.col-center { margin: 0 auto; float: none; }

.col-flex-center { display: flex; align-items: center; }

.start-content { display: flex; flex-wrap: wrap; justify-content: center; }

.container-spaceing { padding-top: 15px; padding-bottom: 15px; }

.container { padding-left: 0px; padding-right: 0px; }

.logo_search { display: flex; align-items: center; }

@media all and (max-width: 991px) { .logo_search { display: block; margin: 0 auto; } }
