<!-- Footer -->
<!-- Loadidng JS in footer -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="{{ site.data.settings.url }}/lib/jquery/dist/jquery.js"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<!-- <script src="{{ site.data.settings.url }}/lib/letteringjs/jquery.lettering.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
<!-- Bootstrap Javascript -->
<!-- <script src="{{ site.data.settings.url }}/lib/bootstrap/dist/js/bootstrap.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js" integrity="sha256-EPrkNjGEmCWyazb3A/Epj+W7Qm2pB9vnfXw+X6LImPM="
        crossorigin="anonymous"></script>
<!-- Custom -->
<script src="{{ site.data.settings.url }}/js/script.js"></script>