<div class="container">
    <div class="col-md-12 start-content">
        <div class="col-sm-6 col-md-4">
            <div class="list mrdemonwolf">
                <h1>MrDemonWolf</h1>
                <ul>
                    {% for item in site.data.settings.mrdemonwolf %}
                    <li>
                        <a href="{{ item.url }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="list webmaster">
                <h1>Webmaster</h1>
                <ul>
                    {% for item in site.data.settings.webmaster %}
                    <li>
                        <a href="{{ item.url }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="list services">
                <h1>Services</h1>
                <ul>
                    {% for item in site.data.settings.services %}
                    <li>
                        <a href="{{ item.url }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="list resources">
                <h1>Helpfull resources</h1>
                <ul>
                    {% for item in site.data.settings.resources %}
                    <li>
                        <a href="{{ item.url }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="list webtools">
                <h1>Web tools</h1>
                <ul>
                    {% for item in site.data.settings.webtools %}
                    <li>
                        <a href="{{ item.url }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="list other">
                <h1>Other</h1>
                <ul>
                    {% for item in site.data.settings.other %}
                    <li>
                        <a href="{{ item.url }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
