<div class="container container-spaceing">
    <!-- Logo aand serach-->
    <div class="logo_search">
        <div class="col-xs-12 col-md-4 col-flex-center">
            <a href="{{ site.settings.seo.url }}"><img class="logo" src="/{{ site.subpath}}assets/images/logo_text.png"></img>
				</a>
        </div>
        <div class="col-md-8 col-center search-box">
            <form action="{{ site.data.settings.search }}">
                <input type="text" class="form-control" placeholder="Search for..." maxlength="60" name="q" placeholder="Google Search" autofocus="autofocus">
        </div>
    </div>
</div>
