// Import
@import "_partials/mixins";
@import "_partials/typography";
@import "_partials/variables";
@import "_component/links";

/*  golbal.scss */
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
    background: #858585;
}
// Logo
.logo {
    margin: 10px auto 10px;
	    height: 50px;
    transition: opacity ease-in-out 0.5s;
    opacity: 0.9;
	float: left;
}
@media (max-width: 991px) {
.logo {
    max-width: 100%;
    height: 40px;
	display: flex;
	}
}
// Serach box 
.search-box {
	width: 500px;
}
@media all and (max-width: 991px){
	.search-box {
		width: 75vh;
	}
}
@media all and (max-width: 388px){
	.search-box {
		width: 100%;
	}
}
.form-control:focus {
	border-color: #ccc;
    box-shadow: inset 0 1px 1px rgba(#000,.075), 0 0 8px rgba(#050240,.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(#000,.075), 0 0 8px rgba(#050240,.6);
}

// Custom Cols
.col-center {
	margin: 0 auto;
    float: none;
}
.col-flex-center {
		display: flex;
	align-items: center;
}
.start-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-spaceing {
	padding-top: 15px;
	padding-bottom: 15px}
.container {
	padding-left: 0px;
	padding-right: 0px;
}
// Logo with Search
.logo_search {
	display: flex;
	align-items: center;
}
@media all and (max-width:991px) {
	.logo_search {
	display: block;
	margin: 0 auto;
	}
}