<!doctype html>
<html lang="en">

<head>
  <title>{{ page.title }} - {{ site.title }}</title>
  <!-- Basic Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <!-- Basic meta and OG tags-->
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="{{ site.data.settings.seo.type }}">
  <meta name="twitter:site" content="{{ site.data.settings.seo.twitter-site }}">
  <meta name="twitter:title" content="{{ site.title }} - {{ page.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:creator" content="{{ site.data.settings.seo.twitter-creator }}">
  <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}//assets/images/logos/logo.png">
  <!-- Open Graph data -->
  <meta property="og:title" content="{{ site.title }} - {{ page.title }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="{{ site.data.settings.seo.type }}" />
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}" />
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}//assets/images/logos/logo.png" />
  <meta property="og:description" content="{{ site.description }}" />
  <!-- Icon and Meta  -->
  <meta name="application-name" content="{{ site.name }}" />
  <meta name="msapplication-square70x70logo" content="{{ site.url }}{{ site.baseurl }}/ms-icon-70x70.png" />
  <meta name="msapplication-square150x150logo" content="{{ site.url }}{{ site.baseurl }}/ms-icon-150x150.png" />
  <meta name="msapplication-square310x310logo" content="{{ site.url }}{{ site.baseurl }}/ms-icon-310x310/.png" />
  <meta name="msapplication-TileColor" content="#FAFAFA">
  <meta name="theme-color" content="#FAFAFA">
  <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}{{ site.baseurl }}/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}{{ site.baseurl }}/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}{{ site.baseurl }}/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}{{ site.baseurl }}/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}{{ site.baseurl }}/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}{{ site.baseurl }}/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}{{ site.baseurl }}/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}{{ site.baseurl }}/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{{ site.baseurl }}/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ site.url }}{{ site.baseurl }}/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{{ site.baseurl }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}{{ site.baseurl }}/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{{ site.baseurl }}/favicon-16x16.png">
  <link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/manifest.json">
  <!-- Frameworks -->
  <!-- Font Awsome-->
  <link href="{{ site.url }}{{ site.baseurl }}/assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!--Bootstrap -->
  <link href="{{ site.url }}{{ site.baseurl }}/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom-->
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/style.css">
</head>

<body>
  {{ content }}
</body>
<!-- Footer -->
<!-- Loadidng JS -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/lib/jquery/js/jquery.min.js"></script>
<!-- Bootstrap Javascript -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/lib/bootstrap/js/bootstrap.min.js"></script>

</html>
