<!doctype html>
<html lang="en">

<head>
  <title>{{ page.title }}</title>
  <!-- Basic Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <!-- Basic meta and OG tags-->
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="{{ site.data.settings.seo.type }}">
  <meta name="twitter:site" content="{{ site.data.settings.seo.twitter-site }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:creator" content="{{ site.data.settings.seo.twitter-creator }}">
  <meta name="twitter:image" content="/{{ site.subpatch }}/assets/images/logos/logo.png">
  <!-- Open Graph data -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="{{ site.data.settings.seo.type }}" />
  <meta property="og:url" content="/{{ site.subpatch }}" />
  <meta property="og:image" content="/{{ site.subpatch }}/assets/images/logos/logo.png" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta name="theme-color" content="#FAFAFA">
  <link rel="shortcut icon" href="/{{ site.subpatch }}/favicon.ico" type="image/x-icon">
  <!-- Frameworks -->
  <!-- Font Awsome-->
  <link href="/{{ site.subpatch }}/assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!--Bootstrap -->
  <link href="/{{ site.subpatch }}/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom-->
  <link rel="stylesheet" href="/{{ site.subpatch }}/assets/css/style.css">
</head>

<body>
  {{ content }}
</body>
<!-- Footer -->
<!-- Loadidng JS -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/{{ site.subpatch }}/assets/lib/jquery/js/jquery.min.js"></script>
<!-- Bootstrap Javascript -->
<script src="/{{ site.subpatch }}/assets/lib/bootstrap/js/bootstrap.min.js"></script>

</html>
